<!DOCTYPE html>
<html lang="en" ng-app="colorBlender">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Blender</title>

    <link rel="stylesheet" href="/main.css">

</head>

<body>


    <div id="view" ng-controller="colorCtrl">
        <div id="input-box">
            <div class="input-wrapper">
                <h3>Base Color</h3>
                <div>
                    <input ng-change="calculateResults()" type="color" ng-model="base" ng-init="base='#FFFFFF'" />
                    <input ng-change="calculateResults()" type="text" ng-model="base" style="border: 3px solid {{base}}" />
                </div>
            </div>

            <div class="input-wrapper">
                <h3>Color One</h3>
                <div>
                    <input ng-change="calculateResults()" type="color" ng-model="color1" ng-init="color1='#00FFFF'" />
                    <input ng-change="calculateResults()" type="text" ng-model="color1" style="border: 3px solid {{color1}}" />
                </div>
                <div>
                    Opacity&nbsp;
                    <input ng-change="calculateResults()" type="number" min="0" max="1" step="0.01" ng-model="opacity1" ng-init="opacity1=0.5"
                    />
                </div>
            </div>

            <div class="input-wrapper">
                <h3>Color Two</h3>
                <div>
                    <input ng-change="calculateResults()" type="color" ng-model="color2" ng-init="color2='#0000FF'" />
                    <input ng-change="calculateResults()" type="text" ng-model="color2" style="border: 3px solid {{color2}}" />
                </div>
                <div>
                    Opacity&nbsp;
                    <input ng-change="calculateResults()" type="number" min="0" max="1" step="0.01" ng-model="opacity2" ng-init="opacity2=0.5"
                    />
                </div>
            </div>

            <!-- <div class="input-wrapper">
                <h3>Color Three</h3>
                <div>
                    <input ng-change="calculateResults()" type="color" ng-model="color3" />
                    <input ng-change="calculateResults()" type="text" ng-model="color3" />
                </div>
                <div>
                    Opacity&nbsp;
                    <input ng-change="calculateResults()" type="number" min="0" max="1" step="0.01" ng-model="opacity3" />
                </div>
            </div> -->
        </div>


        <div id="display-box">
            <div id="display" style="background: {{base}}">
                <div class="color" id="color1" style="background: {{color1}}; opacity: {{opacity1}}"></div>
                <div class="color" id="color2" style="background: {{color2}}; opacity: {{opacity2}}"></div>
                <!-- <div class="color" id="color3" style="background: {{color3}}; opacity: {{opacity3}}"></div> -->
            </div>
        </div>


        <div id="results-box">
            <div class="{{selection.includes(1) ? 'input-wrapper selected' : 'input-wrapper'}}" ng-click="selectResult(1)">
                <h3>Base + Color One</h3>
                <div id="result1" ng-click="$event.stopPropagation()">
                    <input ng-change="calculateColor()" type="color" ng-model="result1" ng-init="calculateResults()" />
                    <input ng-change="calculateColor()" type="text" ng-model="result1" style="background: {{result1}}" />
                </div>
                <!-- {{base}} +
                <span style="background: {{color1}}">{{color1}}</span> at {{opacity1}} =>
                <span style="background: {{result1}}">{{result1}}</span> -->
            </div>
            <div class="{{selection.includes(12) ? 'input-wrapper selected' : 'input-wrapper'}}" ng-click="selectResult(12)">
                <h3>Base + Color Two + One</h3>
                <div id="result12" ng-click="$event.stopPropagation()">
                    <input ng-change="calculateColor()" type="color" ng-model="result12" ng-init="" />
                    <input ng-change="calculateColor()" type="text" ng-model="result12" style="background: {{result12}}" />
                </div>
                <!-- {{base}} +
                <span style="background: {{color1}}">{{color1}}</span> at {{opacity1}} +
                <span style="background: {{color2}}">{{color2}}</span> at {{opacity2}} =>
                <span style="background: {{result12}}">{{result12}}</span> -->
            </div>
            <div class="{{selection.includes(2) ? 'input-wrapper selected' : 'input-wrapper'}}" ng-click="selectResult(2)">
                <h3>Base + Color Two</h3>
                <div id="result2" ng-click="$event.stopPropagation()">
                    <input ng-change="calculateColor()" type="color" ng-model="result2" ng-init="" />
                    <input ng-change="calculateColor()" type="text" ng-model="result2" style="background: {{result2}}" />
                </div>
                <!-- {{base}} +
                <span style="background: {{color2}}">{{color2}}</span> at {{opacity2}} =>
                <span style="background: {{result2}}">{{result2}}</span> -->
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
    <script src="/App.js"></script>

</body>

</html>