html, body {
    margin: 0;
    padding: 0;
}

*, input {
    font-family: calibri;
}

#view {

}

#input-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #333333;
}

.input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    color: rgba(255, 255, 255, 0.675);
    padding: 0 1rem 1rem;
}

.input-wrapper:first-of-type {
    margin-top: 3rem;
}

.input-wrapper:last-of-type{
    margin-bottom: 8rem;
}

.input-wrapper div {
    display: flex;
    margin: 2.5px 0;
    justify-content: space-between;
}

input {
    /* margin: 2.5px; */
    /* background: #CCC; */
}

.selected {
    border: 2px solid black;
    background: #3B3B3B;
    /* #282828; */
}

#display-box {
    position: fixed;
    left: 30vw;
    top: 0;
    bottom: 0;
    width: 40vw;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    width: 75%;
    height: 85%;
    border: 5px solid white;
    position: relative;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; */
}

.color {
    height: 50%;
    width: 75%;
    border-radius: 100%;
    position: absolute;
}

#color1 {
    top: 10%;
    left: 12.5%;
    z-index: 3
}

#color2 {
    bottom: 10%;
    left: 12.5%;
    z-index: 2;
}

/* 
#color3 {
    right: 10%;
    bottom: 10%;
    z-index: 1;
}
*/

#results-box {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 30vw;
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
