
html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Calibri, Segoe UI, Segoe,  Optima, Arial, sans-serif;
}

#input-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #333333;
}

.input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    color: rgba(255, 255, 255, 0.675);
    padding: 0 1rem 1rem;
}

.input-wrapper:first-of-type {
    margin-top: 3rem;
}

.input-wrapper:last-of-type{
    margin-bottom: 8rem;
}

.input-wrapper div {
    display: flex;
    margin: 2.5px 0;
    justify-content: space-between;
    box-sizing: border-box;
}

input {
    /* margin: 2.5px; */
    /* background: #CCC; */
}

.disabled {
    border: 2px solid #222;
    background: #282828;
}

#display-box {
    position: fixed;
    left: 30vw;
    top: 0;
    bottom: 0;
    width: 40vw;
    background: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-box div {
    box-sizing: border-box;
}

#mode-wrapper {
    background: #444;
    height: 7.5%;
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mode-wrapper > div {
    border: 0.5px solid rgba(0, 255, 255, 0);
    background: black;
    height: 100%;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.05s;
}

#mode-wrapper .selected-mode {
    border: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 0.33;
}

#mode-1 > div {
    background: white;
    width: 75%;
    height: 75%;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mode-1 > div > div {
    background: #00FFFF;
    width: 67%;
    height: 67%;
    border-radius: 100%;
    opacity: 0.75;
    margin: -12.5%;
}

#mode-2 div {
    background: #00FFFF;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    margin-bottom: 25%;
    opacity: 0.75;
}

#mode-3 div {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background: white;
    opacity: 0.325;
    margin: -12.5%;
}

#mode-4 div {
    background: #0000FF;
    width: 50%;
    height:50%;
    border-radius: 100%;
    margin-top: 25%;
    opacity: 0.75;
}

#mode-5 div {
    background: white;
    width: 75%;
    height: 75%;
    opacity: 0.75;
}

#display {
    height: 80%;
    width: 80%;
    /* border: 5px solid white; */
    position: relative;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; */
}

.color {
    height: 50%;
    width: 75%;
    border-radius: 100%;
    position: absolute;
}

#color1-display {
    top: 10%;
    left: 12.5%;
    z-index: 3
}

#color2-display {
    bottom: 10%;
    left: 12.5%;
    z-index: 2;
}

/* 
#color3 {
    right: 10%;
    bottom: 10%;
    z-index: 1;
}
*/

.display-label {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    z-index: 4;
}

#base-label {
    bottom: 2.5%;
    left: 5%;
    text-align: left;
}

#color1-label {
    top:25%;
}

#color12-label {
    top: calc(50% - 0.5rem);
}

#color2-label {
    bottom: 25%;
}

#results-box {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 30vw;
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.header {
    position: fixed;
    top: 0;
    width: calc(30vw - 1rem);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.125rem;    
}

#left-header {
    left: 0;
    justify-content: flex-start;
}

#right-header {
    right: 0;
    justify-content: flex-end;
}

button {
    border: none;
    background: transparent;
    color: rgba(255,255,255,0.5);
    font-size: 1.125rem;
}

#cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    opacity: transparent;
}

.slide {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 30vw;
    background: #444;
    transition: left 0.4s ease, right 0.4s ease;
}

#left-slide-in {
    left: 0;
}

#left-slide-out {
    left: -30vw;
}

#right-slide-in {
    right: 0;
}

#right-slide-out {
    right: -30vw;
}
